table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid rgba(81, 81, 81, 1);
  border-radius: 10px !important;
  cursor: pointer;
  font-family: Source Sans Pro,sans-serif;
  font-weight: 400;
  font-size: 0.75rem;

/*
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
  font-weight: 400;
  outline: none;
  height: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  */
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid rgba(81, 81, 81, 1);
  overflow: auto;
  
}


tr:hover {
  background-color: rgba(81, 81, 81, 1);
}

th{
  color: #000 !important;
}


.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 4px;
}


.modal-content {
  width: 600px; 
  height: auto; /* Set the desired height */
  margin: auto; /* Center the modal horizontally */
}

.pos { position: absolute; z-index: 0; left: 0px; top: 0px }







/* Item Dteails Page */

